<div class="space-y-6 bg-white w-full">
  <form [formGroup]="form" (ngSubmit)="handleSubmit()" class="space-y-6">
    <div class="grid items-start gap-4">
      <z-form-field>
        <label z-form-label zRequired for="speaker-name">Nome do Palestrante</label>
        <z-form-control
          [errorMessage]="isFieldInvalid('name') ? 'Digite o nome do palestrante' : ''"
        >
          <input
            z-input
            id="speaker-name"
            type="text"
            placeholder="Nome completo"
            formControlName="name"
            class="input placeholder:text-gray-400"
          />
        </z-form-control>
      </z-form-field>

      <z-form-field>
        <label z-form-label zRequired for="speaker-topic">Tópico/Palestra</label>
        <z-form-control
          [errorMessage]="isFieldInvalid('topic') ? 'Digite o tópico da palestra' : ''"
        >
          <input
            z-input
            id="speaker-topic"
            type="text"
            placeholder="Título da apresentação"
            formControlName="topic"
            class="input placeholder:text-gray-400"
          />
        </z-form-control>
      </z-form-field>
    </div>

    <z-form-field>
      <label z-form-label for="speaker-bio">Biografia</label>
      <z-form-control
        [errorMessage]="isFieldInvalid('bio') ? 'Digite a biografia do palestrante' : ''"
      >
        <textarea
          z-input
          id="speaker-bio"
          rows="3"
          placeholder="Breve biografia do palestrante"
          formControlName="bio"
          class="input placeholder:text-gray-400"
        ></textarea>
      </z-form-control>
    </z-form-field>

    <div class="flex items-start gap-4">
      <z-form-field>
        <label z-form-label for="start-time">Horário de Início</label>
        <z-form-control
          [errorMessage]="isFieldInvalid('startTime') ? 'Selecione o horário de início' : ''"
        >
          <input z-input id="start-time" type="time" formControlName="startTime" />
        </z-form-control>
      </z-form-field>

      <z-form-field>
        <label z-form-label for="duration">Duração (minutos)</label>
        <z-form-control
          [errorMessage]="isFieldInvalid('duration') ? 'Digite a duração em minutos' : ''"
        >
          <input z-input id="duration" type="number" placeholder="60" formControlName="duration" />
        </z-form-control>
      </z-form-field>
    </div>

    <div class="flex gap-2">
      <button class="rounded-md btn" z-button zType="outline" type="submit">
        {{
          isSubmitting() ? 'Guardando...' : (speaker ? 'Atualizar' : 'Adicionar') + ' Palestrante'
        }}
      </button>
      <button
        z-button
        zType="outline"
        class="btn bg-white border text-black rounded-md"
        type="button"
        (click)="resetForm()"
      >
        Limpar
      </button>
    </div>

    @if (showSuccess()) {
    <div class="p-4 bg-green-50 border border-green-200 rounded-md">
      <z-form-message zType="success"
        >✓ Palestrante {{ speaker ? 'atualizado' : 'adicionado' }} com sucesso</z-form-message
      >
    </div>
    } @if (errorMessage()) {
    <div class="p-4 bg-red-50 border border-red-200 rounded-md">
      <z-form-message zType="error">{{ errorMessage() }}</z-form-message>
    </div>
    }
  </form>
</div>
