<app-header></app-header>
<main class="container h-dvh mt-30 w-full mx-auto px-4 py-8 z-10">
  <div class="flex items-center justify-between">
    <h2 class="text-2xl font-bold">Meus Eventos</h2>
    <button (click)="openCreateEventDialog()" class="btn rounded-md bg-gray-950">
      <ng-icon name="lucidePlus" class="w-5 h-5"></ng-icon>
      Adicionar Evento
    </button>
  </div>

  @if (isLoading) {
  <div class="flex justify-center items-center mt-8">
    <div class="loading loading-spinner loading-lg"></div>
  </div>
  } @else {
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 mt-7">
    @for (event of events; track event.id) {
    <app-event-card
      [title]="event.title"
      [description]="event.description"
      [status]="event.status"
      [eventDate]="getEventDate(event)"
      [location]="event.location"
      (view)="onViewEvent(event)"
    />
    } @empty {
    <div class="col-span-full text-center py-8">
      <p class="text-gray-500">Nenhum evento encontrado</p>
    </div>
    }
  </div>
  }
</main>
