<div
  class="card bg-white border rounded-2xl border-gray-100 shadow-xl hover:shadow-2xl transition-shadow"
>
  <div class="card-body">
    <div class="flex items-start justify-between">
      <h3 class="card-title text-lg">{{ title }}</h3>
      <div class="badge px-2" [ngClass]="badgeColor()">
        <span class="text-xs">
          {{ getStatusLabel() }}
        </span>
      </div>
    </div>

    <p class="text-sm text-gray-600 line-clamp-2">{{ description }}</p>

    <div class="space-y-2 text-sm">
      @if (eventDate) {
      <div class="flex items-center gap-2">
        <ng-icon name="lucideCalendar" class="h-4 w-4 text-base-content/60"></ng-icon>
        <span>{{ eventDate | date : 'medium' }}</span>
      </div>
      }
      <span></span>
      <div class="flex items-center gap-2">
        <ng-icon name="lucideHouse" class="h-4 w-4 text-base-content/60"></ng-icon>
        <span>{{ location }}</span>
      </div>
    </div>

    <div class="card-actions mt-4">
      <button
        class="btn btn-neutral rounded-md w-full flex items-center gap-2"
        (click)="view.emit()"
      >
        <ng-icon name="lucideEye" class="h-4 w-4"></ng-icon>
        Ver Detalhes
      </button>
    </div>
  </div>
</div>
